@import "tailwindcss";

:root {
  --background: #fffefe;
  --font-subjectivity: var(--font-subjectivity); /* nueva variable */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-subjectivity); /* usa tu fuente principal */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fffefe;
  }
}

.font-poppins {
  font-family: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-subjectivity), Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* La clase de Tailwind usará la variable CSS de Next.js */
  .font-montserratAlt {
    font-family: var(--font-montserrat-alt), sans-serif;
  }

  .font-subjectivity {
    font-family: var(--font-subjectivity), cursive;
  }
}

.home-bg {
  /* Imagen de fondo */
  background-image: url("/images/bg_difuminadoo.webp");
  background-repeat: no-repeat;

  /* Tamaño aproximado del área del hero */
  background-size: 1200px 600px;

  /* Posición: juega con estos valores hasta que quede como en tu diseño */
  background-position: right -100px top -170px;
}
